# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Tutorial\[FreeCourseSite.com] Udemy - Building An E-Commerce Store Using Java Spring Framework\7. Online Music Store Website Part 5 - Order Checkout - Spring Web Flow\7.2 eMusicStore.zip\eMusicStore\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
